#primary_nav_wrap
{
	margin-top:0;
	margin-left:20px;
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin-top:25;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color: white;
	text-decoration:none;
	font-weight:700;
	font-size:18px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a.current-menu-item
{
	color:#f2c74c
}

#primary_nav_wrap ul a:hover
{
	color:#f2c74c
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:20%;
	left:0;
	background:white;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px;
	color:black;
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}

.iconn
{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.layer 
{
	background-image: url("https://newsru.cgtn.com/v/BfJEA-BEA-EEA/EdfaHEA/EdfaHEA.jpg");
	min-height:100%;
}

.p1
{
	font-weight:700;
	font-size:40px;
	margin-top:100px;
	text-align:center;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

.p2
{
		font-weight:700;
		font-size:70px;
		font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
		color:#f2c74c;
		text-align:center;
}

.div1
{    
    width: 50%;
    min-height: 150px;
    float: left;
	margin-left:10%;
}

.div2
{    
    width: 50%;
    min-height: 150px;
    margin-left:40%;
}

.icon
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.info1
{
	
}